# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Allure artifacts
allure-results/
allure-report/

# Selenium artifacts
screenshots/
